header {
  position: relative;
  width: 380px;
  height: 240px;
}
.logo__container {
  height: 170px;
  /* background-image: url("./reikibanner.png"); */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header__title {
  font-size: 4rem;
  color: rgba(231, 231, 231, 0.81);
}
.favicon__img {
  width: 4rem;
  filter: drop-shadow(16px 16px 20px red) invert(35%);
}
.header__title {
  position: absolute;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.video__energia {
  width: 100%;
}
